.local-business,
.local-business * {
  box-sizing: border-box;
}
.local-business {
  background: #ffffff;
  width: 1728px;
  height: 2255px;
  position: relative;
  overflow: hidden;
}
.lyonville-plan-2021-2025 {
  color: #ffffff;
  text-align: left;
  font: 600 16px/100px "Jost", sans-serif;
  position: absolute;
  left: 1217.57px;
  top: 2657.87px;
  width: 205px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-72 {
  position: absolute;
  left: 0px;
  top: 88px;
  overflow: visible;
}
.instagram {
  color: #ffffff;
  text-align: left;
  font: 600 16px/100px "Jost", sans-serif;
  position: absolute;
  left: 1217.57px;
  top: 2634.87px;
  width: 200px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.image-70 {
  width: 2082px;
  height: 1908px;
  position: absolute;
  left: -102px;
  top: 122px;
}
.group-114 {
  position: absolute;
  left: 1728px;
  top: 1193.51px;
  transform: translate(-754.45px, 0px);
  overflow: visible;
}
.rectangle-66 {
  position: absolute;
  left: 0px;
  top: 1229px;
  overflow: visible;
}
.rectangle-67 {
  background: #1d5c2f;
  width: 1618px;
  height: 700px;
  position: absolute;
  left: 54px;
  top: 403px;
}
.ellipse-19 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 46.51px;
  height: 18.61px;
  position: absolute;
  left: 73.91px;
  top: 1466.11px;
  transform-origin: 0 0;
  transform: rotate(90.114deg) scale(1, 1);
}
.ellipse-20 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 44.65px;
  height: 18.61px;
  position: absolute;
  left: 73.63px;
  top: 1604.72px;
  transform-origin: 0 0;
  transform: rotate(90.114deg) scale(1, 1);
}
.rectangle-69 {
  background: #d9d9d9;
  width: 137.68px;
  height: 18.61px;
  position: absolute;
  left: 73.86px;
  top: 1489.37px;
  transform-origin: 0 0;
  transform: rotate(90.114deg) scale(1, 1);
}
.ellipse-21 {
  background: #c3c2c2;
  border-radius: 50%;
  width: 39.07px;
  height: 18.61px;
  position: absolute;
  left: 74.18px;
  top: 1327.5px;
  transform-origin: 0 0;
  transform: rotate(90.114deg) scale(1, 1);
}
.ellipse-22 {
  background: #c3c2c2;
  border-radius: 50%;
  width: 43.72px;
  height: 18.61px;
  position: absolute;
  left: 73.14px;
  top: 1855.9px;
  transform-origin: 0 0;
  transform: rotate(90.114deg) scale(1, 1);
}
.group-115 {
  position: absolute;
  left: 7px;
  top: 1139.55px;
  overflow: visible;
}
.rectangle-52 {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.01) 14.929850399494171%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 1732px;
  height: 133px;
  position: absolute;
  left: 0px;
  top: 122px;
}
.rectangle-71 {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.01) 14.929850399494171%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 1732px;
  height: 133px;
  position: absolute;
  left: 0px;
  top: 122px;
}
.footer {
  position: absolute;
  inset: 0;
}
.rectangle-38 {
  position: absolute;
  left: 0px;
  top: 2030px;
  overflow: visible;
}
.lyonville {
  color: #f4f3d8;
  text-align: left;
  font: 600 24px/100px "Jost", sans-serif;
  position: absolute;
  left: 93.26px;
  top: 2053.13px;
  width: 97.83px;
  height: 54.67px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.calender-events {
  color: #f4f3d8;
  text-align: left;
  font: 600 24px/100px "Jost", sans-serif;
  position: absolute;
  left: 321px;
  top: 2053px;
  width: 198px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.community-pages {
  color: #f4f3d8;
  text-align: left;
  font: 600 24px/100px "Jost", sans-serif;
  position: absolute;
  left: 752px;
  top: 2056px;
  width: 196.57px;
  height: 46.26px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
}
.get-in-contact {
  color: #f4f3d8;
  text-align: left;
  font: 600 24px/100px "Jost", sans-serif;
  position: absolute;
  left: 1215px;
  top: 2053px;
  width: 198.4px;
  height: 53.62px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.feedback-and-ideas {
  color: #ffffff;
  text-align: left;
  font: 600 16px/100px "Jost", sans-serif;
  position: absolute;
  left: 1217.57px;
  top: 2099.87px;
  width: 150px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
}
.about-lyonville {
  color: #ffffff;
  text-align: left;
  font: 600 16px/100px "Jost", sans-serif;
  position: absolute;
  left: 93.26px;
  top: 2084.67px;
  width: 140.8px;
  height: 65.19px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.getting-there {
  color: #ffffff;
  text-align: left;
  font: 600 16px/100px "Jost", sans-serif;
  position: absolute;
  left: 93px;
  top: 2111px;
  width: 141px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.open-garden-day {
  color: #ffffff;
  text-align: left;
  font: 600 16px/100px "Jost", sans-serif;
  position: absolute;
  left: 315px;
  top: 2083px;
  width: 140.8px;
  height: 65.19px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.woodchop {
  color: #ffffff;
  text-align: left;
  font: 600 16px/100px "Jost", sans-serif;
  position: absolute;
  left: 315px;
  top: 2110.34px;
  width: 140.8px;
  height: 65.19px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.bakeoff {
  color: #ffffff;
  text-align: left;
  font: 600 16px/100px "Jost", sans-serif;
  position: absolute;
  left: 315px;
  top: 2136.62px;
  width: 140.8px;
  height: 65.19px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.caf-de-lyonville {
  color: #ffffff;
  text-align: left;
  font: 600 16px/100px "Jost", sans-serif;
  position: absolute;
  left: 475px;
  top: 2083px;
  width: 131px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.radio-springs-hotel {
  color: #ffffff;
  text-align: left;
  font: 600 16px/100px "Jost", sans-serif;
  position: absolute;
  left: 475px;
  top: 2110px;
  width: 152px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
}
.hepburn-shire {
  color: #ffffff;
  text-align: left;
  font: 600 16px/100px "Jost", sans-serif;
  position: absolute;
  left: 949.11px;
  top: 2083.67px;
  width: 140.8px;
  height: 65.19px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.community-newsletter {
  color: #ffffff;
  text-align: left;
  font: 600 16px/100px "Jost", sans-serif;
  position: absolute;
  left: 752px;
  top: 2110px;
  width: 181.03px;
  height: 65.19px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.landcare {
  color: #ffffff;
  text-align: left;
  font: 600 16px/100px "Jost", sans-serif;
  position: absolute;
  left: 949.11px;
  top: 2136.24px;
  width: 181.03px;
  height: 65.19px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rail-updates {
  color: #ffffff;
  text-align: left;
  font: 600 16px/100px "Jost", sans-serif;
  position: absolute;
  left: 752px;
  top: 2137px;
  width: 181.03px;
  height: 65.19px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.fireguard {
  color: #ffffff;
  text-align: left;
  font: 600 16px/100px "Jost", sans-serif;
  position: absolute;
  left: 949.11px;
  top: 2109.96px;
  width: 140.8px;
  height: 65.19px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.community-pages2 {
  color: #ffffff;
  text-align: left;
  font: 600 16px/100px "Jost", sans-serif;
  position: absolute;
  left: 752px;
  top: 2084px;
  width: 140.8px;
  height: 65.19px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.the-artful-meadows {
  color: #ffffff;
  text-align: left;
  font: 600 16px/100px "Jost", sans-serif;
  position: absolute;
  left: 475px;
  top: 2137px;
  width: 195px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.history {
  color: #ffffff;
  text-align: left;
  font: 600 16px/100px "Jost", sans-serif;
  position: absolute;
  left: 93.26px;
  top: 2137.24px;
  width: 140.8px;
  height: 65.19px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.weather {
  color: #ffffff;
  text-align: left;
  font: 600 16px/100px "Jost", sans-serif;
  position: absolute;
  left: 93.26px;
  top: 2163.53px;
  width: 140.8px;
  height: 65.19px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.facebook {
  color: #ffffff;
  text-align: left;
  font: 600 16px/100px "Jost", sans-serif;
  position: absolute;
  left: 1217.57px;
  top: 2109.87px;
  width: 116.11px;
  height: 65.19px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.image-10 {
  border-radius: 1000px;
  width: 121px;
  height: 114px;
  position: absolute;
  left: 1520px;
  top: 2085px;
}
.group-159 {
  width: 24px;
  height: 134px;
  position: static;
}
.vector {
  position: absolute;
  left: 1670px;
  top: 2078px;
  overflow: visible;
}
.instagram-1 {
  position: absolute;
  left: 1662px;
  top: 2155px;
  transform: translate(0px, -24px);
  overflow: visible;
}
.facebook-f-1 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 1662px;
  top: 2188px;
  overflow: hidden;
}
.group-2 {
  position: absolute;
  inset: 0;
}
.twitter-1 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.group-169 {
  position: absolute;
  inset: 0;
}
.group-161 {
  width: 1740px;
  height: 135px;
  position: static;
}
.rectangle-64 {
  position: absolute;
  left: 0px;
  top: 122px;
  transform: translate(0px, -122px);
  overflow: visible;
}
.group-155 {
  width: 978.14px;
  height: 40.29px;
  position: static;
}
.things-to-do {
  color: #414730;
  text-align: left;
  font: 600 25px/100px "Jost", sans-serif;
  position: absolute;
  left: 904.14px;
  top: 50.33px;
  width: 180px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.history2 {
  color: #414730;
  text-align: left;
  font: 600 25px/100px "Jost", sans-serif;
  position: absolute;
  left: 706px;
  top: 50px;
  width: 87.55px;
  height: 37.62px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.about-lyonville2 {
  color: #414730;
  text-align: left;
  font: 600 25px/100px "Jost", sans-serif;
  position: absolute;
  left: 106px;
  top: 47.33px;
  width: 253px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.lyonville2 {
  color: #8a946e;
  text-align: left;
  font: 600 48px "Open Sans", sans-serif;
  position: absolute;
  left: 1415px;
  top: 35px;
  width: 325px;
  height: 100px;
}
.getting-there2 {
  color: #414730;
  text-align: left;
  font: 600 25px/100px "Jost", sans-serif;
  position: absolute;
  left: 428px;
  top: 48.33px;
  width: 293px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-176 {
  width: 1740px;
  height: 135px;
  position: static;
}
.group-168 {
  width: 1740px;
  height: 135px;
  position: static;
}
.group-1692 {
  width: 1740px;
  height: 135px;
  position: static;
}
.rectangle-642 {
  position: absolute;
  left: 0px;
  top: 122px;
  transform: translate(0px, -122px);
  overflow: visible;
}
.group-1552 {
  width: 912.14px;
  height: 40.29px;
  position: static;
}
.things-to-do2 {
  color: #414730;
  text-align: left;
  font: 600 25px/100px "Jost", sans-serif;
  position: absolute;
  left: 901.14px;
  top: 50.33px;
  width: 180px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.history3 {
  color: #414730;
  text-align: left;
  font: 600 25px/100px "Jost", sans-serif;
  position: absolute;
  left: 714px;
  top: 50px;
  width: 87.55px;
  height: 37.62px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.about-lyonville3 {
  color: #414730;
  text-align: left;
  font: 600 25px/100px "Jost", sans-serif;
  position: absolute;
  left: 169px;
  top: 47.33px;
  width: 253px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.getting-there3 {
  color: #414730;
  text-align: left;
  font: 600 25px/100px "Jost", sans-serif;
  position: absolute;
  left: 453px;
  top: 48.33px;
  width: 293px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-171 {
  width: 50px;
  height: 47px;
  position: static;
}
.ellipse-23 {
  background: #acb594;
  border-radius: 50%;
  width: 50px;
  height: 47px;
  position: absolute;
  left: 69px;
  top: 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.ellipse-24 {
  background: #414730;
  border-radius: 50%;
  border-style: solid;
  border-color: #000000;
  border-width: 0.2px;
  width: 22px;
  height: 8px;
  position: absolute;
  left: 83px;
  top: 49px;
}
.ellipse-25 {
  background: #414730;
  border-radius: 50%;
  border-style: solid;
  border-color: #000000;
  border-width: 0.2px;
  width: 22px;
  height: 8px;
  position: absolute;
  left: 83px;
  top: 59px;
}
.ellipse-26 {
  background: #414730;
  border-radius: 50%;
  border-style: solid;
  border-color: #000000;
  border-width: 0.2px;
  width: 22px;
  height: 8px;
  position: absolute;
  left: 83px;
  top: 69px;
}
.rectangle-68 {
  background: #c3c2c2;
  width: 531.18px;
  height: 18.61px;
  position: absolute;
  left: 74.14px;
  top: 1347.04px;
  transform-origin: 0 0;
  transform: rotate(90.114deg) scale(1, 1);
}
.image-56 {
  width: 1526px;
  height: 612px;
  position: absolute;
  left: 100px;
  top: 444px;
}
.local-businesses {
  color: #000000;
  text-align: left;
  font: 700 80px/14px "Roboto", sans-serif;
  position: absolute;
  left: 97px;
  top: 164px;
  width: 1101px;
  height: 183px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.lyonville-s-businesses {
  color: #1e1e1e;
  text-align: left;
  font: 600 64px/100px "Roboto", sans-serif;
  position: absolute;
  left: 154px;
  top: 1158px;
  width: 697px;
  height: 124px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.lyonville-general-store-we-sells-thing-that-you-expect-to-see-in-a-store-but-more-general-find-us-at-lyonville-one-of-the-streets-contact-us-at-store-number-lyonville-not-so-general-store-we-sells-thing-that-you-don-t-expect-to-see-in-a-store-very-non-general-find-us-at-lyonville-one-of-the-streets-contact-us-at {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 201px;
  top: 1357px;
  width: 1471px;
  height: 478px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.lyonville-general-store-we-sells-thing-that-you-expect-to-see-in-a-store-but-more-general-find-us-at-lyonville-one-of-the-streets-contact-us-at-store-number-lyonville-not-so-general-store-we-sells-thing-that-you-don-t-expect-to-see-in-a-store-very-non-general-find-us-at-lyonville-one-of-the-streets-contact-us-at-span {
  color: #000000;
  font: 700 32px/65.5px "Roboto", sans-serif;
}
.lyonville-general-store-we-sells-thing-that-you-expect-to-see-in-a-store-but-more-general-find-us-at-lyonville-one-of-the-streets-contact-us-at-store-number-lyonville-not-so-general-store-we-sells-thing-that-you-don-t-expect-to-see-in-a-store-very-non-general-find-us-at-lyonville-one-of-the-streets-contact-us-at-span2 {
  color: #000000;
  font: 400 28px/65.5px "Roboto", sans-serif;
}
.lyonville-general-store-we-sells-thing-that-you-expect-to-see-in-a-store-but-more-general-find-us-at-lyonville-one-of-the-streets-contact-us-at-store-number-lyonville-not-so-general-store-we-sells-thing-that-you-don-t-expect-to-see-in-a-store-very-non-general-find-us-at-lyonville-one-of-the-streets-contact-us-at-span3 {
  color: #000000;
  font: 400 32px/65.5px "Roboto", sans-serif;
}
.lyonville-general-store-we-sells-thing-that-you-expect-to-see-in-a-store-but-more-general-find-us-at-lyonville-one-of-the-streets-contact-us-at-store-number-lyonville-not-so-general-store-we-sells-thing-that-you-don-t-expect-to-see-in-a-store-very-non-general-find-us-at-lyonville-one-of-the-streets-contact-us-at-span4 {
  color: #000000;
  font: 700 32px/65.5px "Roboto", sans-serif;
}
.lyonville-general-store-we-sells-thing-that-you-expect-to-see-in-a-store-but-more-general-find-us-at-lyonville-one-of-the-streets-contact-us-at-store-number-lyonville-not-so-general-store-we-sells-thing-that-you-don-t-expect-to-see-in-a-store-very-non-general-find-us-at-lyonville-one-of-the-streets-contact-us-at-span5 {
  color: #000000;
  font: 400 28px/65.5px "Roboto", sans-serif;
}
.rectangle-70 {
  background: #acb594;
  width: 355px;
  height: 30px;
  position: absolute;
  left: 463px;
  top: 294px;
}
