@tailwind base;
@tailwind components;
@tailwind utilities;

.title {
  display: flex;
  width: 924px;
  margin-top: 50px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #1d1f1a;
  /* font-family: Roboto; */
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px; /* 17.5% */
}

.subtitle {
  display: flex;
  width: 900px;
  /* height: 125px; */
  padding-right: 50px;
  padding-left: 50px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #414730;
  /* font-family: Jost; */
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 100px; /* 156.25% */
}

.body {
  display: flex;
  width: 1700px;
  /* height: 555px; */
  padding-right: 50px;
  padding-left: 50px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  /* font-family: Roboto; */
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 51.5px; /* 171.667% */
}

.source {
  display: flex;
  width: 1700px; /* Use auto width to allow it to expand to the content's size */
  flex-direction: column;
  justify-content: flex-end; /* Align content to the bottom of the div (right in a vertical layout) */
  align-items: flex-end; /* Align content to the right side */
  flex-shrink: 0;
  color: #000;
  /* font-family: Roboto; */
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 51.5px; /* 171.667% */
}
